@model Hospital.Models.Triplet

@{
    ViewData["Title"] = "Index";
}
<br/>
<h4>Максимальний вік пацієнтів, які були на прийомі @(Model.YearString is null ? "за весь час" : $"у {Model.YearString} році")</h4>
<br/>
<div style="display: flex">
    <div style="width: 55%; margin-right: 50px">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    Лікар
                </th>
                <th>
                    Максимальний вік
                </th>
                <th/>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Pairs!)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @(item.Age?.ToString() ?? "Немає даних")
                    </td>
                    <td/>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div style="width: 45%; padding-left: 30px; padding-top: 20px;  padding-right: 100px">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="YearString" class="control-label">Вибрати рік&nbsp; </label>
                @*<input asp-for="Year" class="form-control" />*@
                <select asp-for="YearString" asp-items="Model.Years"></select>
                <span asp-validation-for="YearString" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                @*<input type="submit" value="Create" class="btn btn-primary" />*@
                <input type="submit" value=" Оновити " class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>