@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <h3>Приклад до лабораторної роботи № 3</h3>
</div>
<div>
    <p>
    Файл "Doctorst.csv" містить <em>коди</em>, <em>прізвища</em> та <em>спеціалізації</em> лікарів.<br/>
    Файл "Patients.csv" містить дані про пацієнтів у форматі:
        <em>код пацієнта</em>, <em>прізвище пацієнта</em>, <em>дата народження</em><br />
    Файл "Visits.csv" містить дані про прийом пацієнтів лікарями у форматі:
        <em>код лікаря</em>, <em>код пацієнта</em>, <em>дата прийому</em> (може бути відсутня).
    <p/>
    <p>
        <strong>Виконати наступні завдання:</strong>
    </p>
    <p/>
    <ol>
        <li>Після авторизації користувача надати йому можливість вивести вміст файлів на окремі web-сторінки.</li>
        <li>Для кожного лікаря вивести максимальний вік його пацієнтів, яких він приймав у заданому році (або протягом усього часу).</li>
        <li>Вивести прізвища пацієнтів, які були на прийомі у лікарів усіх можливих спеціальностей (серед тих, які зустрічаються у файлі Doctors.csv).</li>
    </ol>
</div>